.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.js.map
.github/**
node_modules/sql.js/dist/**
!node_modules/sql.js/dist/sql-wasm.*
